.git
.cursor
.github
node_modules
vendor
.env
.env.example
/bootstrap/cache
/bootstrap/ssr
coverage
**/**.sqlite
tests
/public/build
/public/hot
/public/storage
.editorconfig
.dockerignore
.gitignore
.gitattributes
.prettierignore
.prettierrc
docker-compose.yml
Dockerfile
eslint.config.js
phpunit.xml
pint.json
vitest.browser.config.ts
