x-app: &app
  build:
    context: .
    dockerfile: Dockerfile
  image: starwars-lawnstarter-test-app:latest
  env_file: .env.production
  volumes:
    - app_storage:/var/www/html/storage
  restart: unless-stopped

services:
  web:
    <<: *app
    ports:
      - "8000:8000"

  queue:
    <<: *app
    command: ["php", "artisan", "queue:work", "--tries=3", "--timeout=90"]
    depends_on:
      - web

  scheduler:
    <<: *app
    command: ["php", "artisan", "schedule:work"]
    depends_on:
      - web

volumes:
  app_storage:
