@import 'tailwindcss';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --color-background: #ededed;
    --color-green-teal: #0ab463;
    --color-light-gray: #dadada;
    --color-pinkish-gray: #c4c4c4;
    --color-warm-gray: #848484;
    --color-primary: #383838;
    --color-emerald: #0094ff;
    --font-sans:
        'Montserrat', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
